{"http_interactions": [{"recorded_at": "2016-10-28T13:45:35", "response": {"body": {"string": "[{\"id\":455829769,\"url\":\"https://api.github.com/repos/slowbackspace/testrepo/labels/bug\",\"name\":\"bug\",\"color\":\"ee0701\",\"default\":true},{\"id\":455829774,\"url\":\"https://api.github.com/repos/slowbackspace/testrepo/labels/question\",\"name\":\"question\",\"color\":\"cc317c\",\"default\":true}]", "encoding": "utf-8"}, "url": "https://api.github.com/repos/slowbackspace/testrepo/issues/16/labels", "status": {"message": "OK", "code": 200}, "headers": {"ETag": "\"a1796d338ead8d5dc325c0a67beec33a\"", "X-RateLimit-Limit": "5000", "Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Remaining": "4966", "X-GitHub-Media-Type": "github.v3; format=json", "X-OAuth-Scopes": "repo", "X-Accepted-OAuth-Scopes": "repo", "X-RateLimit-Reset": "1477664872"}}, "request": {"body": {"string": "[\"bug\"]", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/slowbackspace/testrepo/issues/16/labels", "headers": {"Authorization": "token <TOKEN>"}, "method": "POST"}}], "recorded_with": "betamax/0.8.0"}