{"http_interactions": [{"recorded_at": "2016-10-28T21:06:38", "response": {"url": "https://api.github.com/repos/slowbackspace/testrepo/issues/16/labels", "headers": {"ETag": "\"3eacee2aedaed023d257e2304969a576\"", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4948", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477689389"}, "body": {"encoding": "utf-8", "string": "[{\"id\":455829774,\"url\":\"https://api.github.com/repos/slowbackspace/testrepo/labels/question\",\"name\":\"question\",\"color\":\"cc317c\",\"default\":true}]"}, "status": {"code": 200, "message": "OK"}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/slowbackspace/testrepo/issues/16/labels", "body": {"encoding": "utf-8", "string": "[\"question\"]"}, "method": "POST"}}], "recorded_with": "betamax/0.8.0"}