{"http_interactions": [{"request": {"method": "POST", "body": {"string": "[\"question\"]", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/slowbackspace/testrepo/issues/16/labels"}, "response": {"url": "https://api.github.com/repos/slowbackspace/testrepo/issues/16/labels", "status": {"code": 200, "message": "OK"}, "body": {"string": "[{\"id\":455829774,\"url\":\"https://api.github.com/repos/slowbackspace/testrepo/labels/question\",\"name\":\"question\",\"color\":\"cc317c\",\"default\":true}]", "encoding": "utf-8"}, "headers": {"X-RateLimit-Reset": "1477694074", "ETag": "\"3eacee2aedaed023d257e2304969a576\"", "X-RateLimit-Remaining": "4994", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "5000", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "Content-Type": "application/json; charset=utf-8", "X-OAuth-Scopes": "repo"}}, "recorded_at": "2016-10-28T21:38:39"}, {"response": {"body": {"string": "[{\"id\":455829769,\"url\":\"https://api.github.com/repos/slowbackspace/testrepo/labels/bug\",\"name\":\"bug\",\"color\":\"ee0701\",\"default\":true},{\"id\":455829774,\"url\":\"https://api.github.com/repos/slowbackspace/testrepo/labels/question\",\"name\":\"question\",\"color\":\"cc317c\",\"default\":true},{\"id\":455829775,\"url\":\"https://api.github.com/repos/slowbackspace/testrepo/labels/wontfix\",\"name\":\"wontfix\",\"color\":\"ffffff\",\"default\":true}]", "encoding": "utf-8"}, "status": {"code": 200, "message": "OK"}, "headers": {"X-RateLimit-Reset": "1477694074", "ETag": "\"fcc53443bc557e4936eff4b6022109ff\"", "X-RateLimit-Remaining": "4965", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "5000", "X-Accepted-OAuth-Scopes": "repo", "Status": "200 OK", "Content-Type": "application/json; charset=utf-8", "X-OAuth-Scopes": "repo"}, "url": "https://api.github.com/repos/slowbackspace/testrepo/issues/20/labels"}, "request": {"method": "POST", "body": {"string": "[\"question\"]", "encoding": "utf-8"}, "headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/slowbackspace/testrepo/issues/20/labels"}, "recorded_at": "2016-10-28T21:59:47"}], "recorded_with": "betamax/0.8.0"}