{"http_interactions": [{"recorded_at": "2016-10-28T13:45:35", "response": {"body": {"string": "[{\"url\":\"https://api.github.com/repos/slowbackspace/testrepo/issues/comments/252320639\",\"html_url\":\"https://github.com/slowbackspace/testrepo/issues/2#issuecomment-252320639\",\"issue_url\":\"https://api.github.com/repos/slowbackspace/testrepo/issues/2\",\"id\":252320639,\"user\":{\"login\":\"slowbackspace\",\"id\":6961901,\"avatar_url\":\"https://avatars.githubusercontent.com/u/6961901?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/slowbackspace\",\"html_url\":\"https://github.com/slowbackspace\",\"followers_url\":\"https://api.github.com/users/slowbackspace/followers\",\"following_url\":\"https://api.github.com/users/slowbackspace/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/slowbackspace/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/slowbackspace/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/slowbackspace/subscriptions\",\"organizations_url\":\"https://api.github.com/users/slowbackspace/orgs\",\"repos_url\":\"https://api.github.com/users/slowbackspace/repos\",\"events_url\":\"https://api.github.com/users/slowbackspace/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/slowbackspace/received_events\",\"type\":\"User\",\"site_admin\":false},\"created_at\":\"2016-10-07T18:03:55Z\",\"updated_at\":\"2016-10-07T18:03:55Z\",\"body\":\"dadarobot:bugsasdasd\"},{\"url\":\"https://api.github.com/repos/slowbackspace/testrepo/issues/comments/253973839\",\"html_url\":\"https://github.com/slowbackspace/testrepo/issues/2#issuecomment-253973839\",\"issue_url\":\"https://api.github.com/repos/slowbackspace/testrepo/issues/2\",\"id\":253973839,\"user\":{\"login\":\"slowbackspace\",\"id\":6961901,\"avatar_url\":\"https://avatars.githubusercontent.com/u/6961901?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/slowbackspace\",\"html_url\":\"https://github.com/slowbackspace\",\"followers_url\":\"https://api.github.com/users/slowbackspace/followers\",\"following_url\":\"https://api.github.com/users/slowbackspace/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/slowbackspace/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/slowbackspace/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/slowbackspace/subscriptions\",\"organizations_url\":\"https://api.github.com/users/slowbackspace/orgs\",\"repos_url\":\"https://api.github.com/users/slowbackspace/repos\",\"events_url\":\"https://api.github.com/users/slowbackspace/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/slowbackspace/received_events\",\"type\":\"User\",\"site_admin\":false},\"created_at\":\"2016-10-15T09:45:05Z\",\"updated_at\":\"2016-10-15T09:45:19Z\",\"body\":\"robot:question\"}]", "encoding": "utf-8"}, "url": "https://api.github.com/repos/slowbackspace/testrepo/issues/2/comments", "status": {"message": "OK", "code": 200}, "headers": {"ETag": "\"11094004b188d2319491643a7c85d9e7\"", "X-RateLimit-Limit": "5000", "Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Remaining": "4967", "X-GitHub-Media-Type": "github.v3; format=json", "X-OAuth-Scopes": "repo", "X-Accepted-OAuth-Scopes": "repo", "X-RateLimit-Reset": "1477664872"}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/slowbackspace/testrepo/issues/2/comments", "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}}], "recorded_with": "betamax/0.8.0"}