{"http_interactions": [{"recorded_at": "2016-10-28T21:06:37", "response": {"url": "https://api.github.com/repos/slowbackspace/testrepo/issues/2/comments", "headers": {"ETag": "\"11094004b188d2319491643a7c85d9e7\"", "X-GitHub-Media-Type": "github.v3; format=json", "Content-Type": "application/json; charset=utf-8", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4949", "X-Accepted-OAuth-Scopes": "repo", "X-OAuth-Scopes": "repo", "Status": "200 OK", "X-RateLimit-Reset": "1477689389"}, "body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/slowbackspace/testrepo/issues/comments/252320639\",\"html_url\":\"https://github.com/slowbackspace/testrepo/issues/2#issuecomment-252320639\",\"issue_url\":\"https://api.github.com/repos/slowbackspace/testrepo/issues/2\",\"id\":252320639,\"user\":{\"login\":\"slowbackspace\",\"id\":6961901,\"avatar_url\":\"https://avatars.githubusercontent.com/u/6961901?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/slowbackspace\",\"html_url\":\"https://github.com/slowbackspace\",\"followers_url\":\"https://api.github.com/users/slowbackspace/followers\",\"following_url\":\"https://api.github.com/users/slowbackspace/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/slowbackspace/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/slowbackspace/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/slowbackspace/subscriptions\",\"organizations_url\":\"https://api.github.com/users/slowbackspace/orgs\",\"repos_url\":\"https://api.github.com/users/slowbackspace/repos\",\"events_url\":\"https://api.github.com/users/slowbackspace/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/slowbackspace/received_events\",\"type\":\"User\",\"site_admin\":false},\"created_at\":\"2016-10-07T18:03:55Z\",\"updated_at\":\"2016-10-07T18:03:55Z\",\"body\":\"dadarobot:bugsasdasd\"},{\"url\":\"https://api.github.com/repos/slowbackspace/testrepo/issues/comments/253973839\",\"html_url\":\"https://github.com/slowbackspace/testrepo/issues/2#issuecomment-253973839\",\"issue_url\":\"https://api.github.com/repos/slowbackspace/testrepo/issues/2\",\"id\":253973839,\"user\":{\"login\":\"slowbackspace\",\"id\":6961901,\"avatar_url\":\"https://avatars.githubusercontent.com/u/6961901?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/slowbackspace\",\"html_url\":\"https://github.com/slowbackspace\",\"followers_url\":\"https://api.github.com/users/slowbackspace/followers\",\"following_url\":\"https://api.github.com/users/slowbackspace/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/slowbackspace/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/slowbackspace/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/slowbackspace/subscriptions\",\"organizations_url\":\"https://api.github.com/users/slowbackspace/orgs\",\"repos_url\":\"https://api.github.com/users/slowbackspace/repos\",\"events_url\":\"https://api.github.com/users/slowbackspace/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/slowbackspace/received_events\",\"type\":\"User\",\"site_admin\":false},\"created_at\":\"2016-10-15T09:45:05Z\",\"updated_at\":\"2016-10-15T09:45:19Z\",\"body\":\"robot:question\"}]"}, "status": {"code": 200, "message": "OK"}}, "request": {"headers": {"Authorization": "token <TOKEN>"}, "uri": "https://api.github.com/repos/slowbackspace/testrepo/issues/2/comments", "body": {"encoding": "utf-8", "string": ""}, "method": "GET"}}], "recorded_with": "betamax/0.8.0"}